@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

body{
    background-color: #DCACAC;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color:lightyellow;
    padding: 1%;
}

.container h1{
    color: brown;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.8em;
}

h3{
    color: rgb(16, 38, 181);
}

/* div{
    font-size: 10px;
} */

p{
    color: hsl(125, 91%, 13%);
    font-family: 'Pushster', Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
    line-height: 1.6em;
}

#second-p{
    color: hsl(356, 89%, 11%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.4em;
}

#box-model{
    background-color:lightgray;
    width:300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.button{
    margin: 0.2em 0;
    padding: 0.5em 1em;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: brown;
    background-color: lightgreen;
}

.button:hover{
    background-color: lightblue;
    cursor: pointer;
}